#image{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 20px;
}

.desktop{
    width: 50% !important;
}

.mobile{
    width: 80% !important;
}