.svg-box, .image-box {
    margin-right: 10px;
    max-height: 35px;
    max-width: 35px;
  }
  
  .bold-text {
    font-weight: bold;
  }
  
  .container {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .Imp{
      font-size: 18px;
      font-weight: bold;
  }

  #manager{
    max-height: 100%; /* Adapte à l'écran */
    max-width: auto;
    overflow-y: auto; /* Ajoute un scroll si nécessaire */      
  }

  .mat-mdc-select{
      width: 400px;
  }

  .legend-gradient {
    width: 120px;
    height: 10px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5),rgba(87, 16, 110, 0.5),rgba(188, 55, 84, 0.5),rgba(249, 142, 9, 0.5),rgba(252, 255, 164,0.5));
  }
  