*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.desktop{
    min-width: 720px !important;
    width: 40% !important;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

.mobile{
    width: 80% !important;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

#title{
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
}

#summary{
    font-size: 16px;
    padding: 20px;
}

#info{
    display: block;
    margin-left: auto;
    margin-right: auto;  
    text-align: center;
    color: rgb(44, 44, 44);
    padding-bottom: 20px;
}

.attribution{
    font-size: 8px;
}

#BtnCarte{
    background-color: darkblue;
    color: white;
    border-color: white;
    position: fixed;
    bottom: 35%;
    z-index: 99;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: monospace;
    /* width: 40px; */
}

.btn_desktop{
    right: 30px !important;
    padding: 10px !important;
}

.btn_mobile{
    font-size: 10px !important;
    left: 5px !important;
    padding: 5px !important;
}
  
.text-block {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.50);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size:10px
}

#content{
    font-size: 14px;
    padding: 20px;
}

.function{
    margin: auto;
    width: 50%;
    border: 1px solid black;
    padding: 20px;
    font-style: italic;
    text-align: center;
}

.image{
    max-width:80%;
    outline: 1px solid black;
    cursor: pointer;
    margin: 20px;
}

.schema{
    max-width:80%;
    margin: 20px;
}

.image:hover{
    filter: brightness(110%);
}

.image-content{
    display: flex;
    justify-content: center; 
    align-items: center
}

.subtitle{
    font-size: 20px
}